*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* Styles for the main container */
main {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  width: 100%;
  padding: 20px;
}

.purchase {
  width: 100%;
  padding: 20px;
}

.container {
  width: 100%;
  padding: 20px;
}

/* Styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Styles for the form inputs */
input[type="text"] {
  width: 100%;
  padding: 5px;
}

/* Styles for buttons */
button {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Additional styles */
h3 {
  margin-top: 0;
}

h5 {
  margin-top: 20px;
}

.link {
  width: 100%;
}

.title {
  width: 100%;
}

.content {
  width: 100%;
}

.delete {
  margin-bottom: 20px;
}
.correctPay{
  background: red;
  color: whitesmoke;
}